<div style="border-top : 1px solid">
</div>
<h1>Profile</h1>
<b>Mail address :</b>
<p><%= current_user.email %></p>
<b>Name: </b><%= current_user.name %><br>
<b>Age: </b><%= current_user.age %><br>
 <p>
    <strong>Avatar:</strong>
    <%= image_tag(current_user.avatar, style: 'width:200px;height:150px') %>
 </p>